* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-image: linear-gradient(rgb(0, 105, 255) 25%, hsl(220,95%,8%));
  height: 500vh;
  font-family: 'Work Sans', sans-serif;
}

/* ------------------Navbar------------------ */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100;
}

.navbar-logo {
  position: relative;
  font-weight: 700;
  color: black;
  text-decoration: none;
  font-size: 2rem;
  letter-spacing: 2px;
  transition: 0.6s;
}

.navbar ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul li {
  position: relative;
  list-style: none;
}

.navbar ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.6s;
  margin: 0 20px;
}

nav.sticky {
  padding: 20px 100px;
  background: rgba(0, 0, 0, 0.3);
}

nav.sticky .navbar-logo, nav.sticky ul li a {
  color: white;
}

/* ------------------Hero------------------ */
.header {
  height: 100vh;
  background-color: white;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.hero {
  display: flex;
  height: 100%;
}

.header__content {
  width: 60vw;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.header__content > p {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.header__svg {
  width: 40vw;
  display: flex;
  align-items: center;
}

.svg-hacktoberfest {
  width: 80%;
}

/* ------------------Waves------------------ */
.waves > div {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100px;
  background-size: 1280px 100px;
  background: url(../assets/images/wave.png);
}

.wave1 {
  animation: moveForward 30s linear infinite;
  z-index: 40;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

.wave2 {
  animation: moveBackward 15s linear infinite;
  z-index: 30;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

.wave3 {
  animation: moveForward 25s linear infinite;
  z-index: 20;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

.wave4 {
  animation: moveBackward 10s linear infinite;
  z-index: 10;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 0px;
  height: 128px !important;
}

@keyframes moveForward {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1280px;
  }
}

@keyframes moveBackward {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1280px;
  }
}
/* ------------------//------------------ */
