* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-image: linear-gradient(rgb(0, 105, 255), rgb(1, 32, 93));
  font-family: 'Work Sans', sans-serif;
}

/* ------------------Navbar------------------ */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 16px 100px;
  background: rgba(0, 0, 0, 0.25);
  z-index: 100;
}

.navbar-logo {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 44px;
  width: 44px;
  border-radius: 7px;
  box-shadow: 0 0 0 2px white, 0 0 10px 2px rgba(0, 0, 0, 0.3);
}

.navbar-logo span {
  font-size: 2rem;
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  margin: 0 16px;
}

.navbar ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul li {
  position: relative;
  list-style: none;
}

.navbar ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 15px;
}

.navbar ul li:hover a {
  font-weight: 700;
}

/* ------------------FullPage------------------ */
#fp-nav span, .fp-slidesNav span {
  background-color: black !important;
  box-shadow: 0 0 0 1px white;
}

.fp-slidesNav ul {
  margin-left: 44px !important;
}

/* ------------------Hero------------------ */
.header {
  height: 100vh;
  background-color: white;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.hero {
  display: flex;
  height: 100%;
}

.header__content {
  width: 60vw;
  height: 100%;
  display: flex;
  align-items: center;
  color: #072540;
  padding: 0 10%;
}

.header__content > p {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.header__svg {
  width: 40vw;
  display: flex;
  align-items: center;
}

.svg-hacktoberfest {
  width: 80%;
}

/* ------------------Waves------------------ */
.waves > div {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100px;
  background-size: 1280px 100px;
  background: url(../assets/images/wave.png);
}

.wave1 {
  animation: moveForward 30s linear infinite;
  z-index: 40;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

.wave2 {
  animation: moveBackward 15s linear infinite;
  z-index: 30;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

.wave3 {
  animation: moveForward 25s linear infinite;
  z-index: 20;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

.wave4 {
  animation: moveBackward 10s linear infinite;
  z-index: 10;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 0px;
  height: 128px !important;
}

@keyframes moveForward {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1280px;
  }
}

@keyframes moveBackward {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1280px;
  }
}

/* ------------------Slides------------------ */
.slide {
  position: relative;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
}

.container h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 16px;
}

.container p {
  color: #eee;
  font-size: 1.3rem;
  margin-top: 16px;
  line-height: 1.8rem;
  word-spacing: 4px;
}

.overlayLeftBtn {
  position: absolute !important;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 16px;
  background: none;
  outline: none;
  border: none;
  padding: 12px 24px;
  background-color: #eee;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

.overlayLeftBtn span {
  font-size: 1.1rem;
  color: #5851ec;
  position: relative;
  z-index: 1;
  transition: color 0.25s cubic-bezier(.7,0,.9,1);
}

.overlayLeftBtn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 6px;
  transform: translate(-101%, -50%);
  width: 102%;
  height: 102%;
  background-color: #5851ec;
  transition: transform 0.25s cubic-bezier(.7,0,.9,1);
}

.overlayLeftBtn:hover span {
  color: hsl(222, 100%, 95%);
}

.overlayLeftBtn:hover::before {
  transform: translate(0, -50%);
}

/* ------------------Sponsors------------------ */
.sponsor-logo {
  height: 256px;
}

.sponsor-logo img {
  height: 100%;
}

.sponsor-heading {
  margin-top: 32px;
}

.sponsors h1 {
  margin-bottom: 0;
}

.sponsors a {
  display: flex;
  justify-content: center;
}

.sponsor-logos {
  display: flex;
}

.sponsor-logos a {
  height: 256px;
  width: 50%;
}

/* ------------------Contact-us------------------ */
.logos-container {
  display: flex;
  justify-content: center;
}

.contact-us-logo {
  display: block; 
  height: 88px; 
  width: 88px; 
  background-color: white; 
  margin: 6px 16px; 
  padding: 16px;
  border-radius: 30px; 
}
